*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
}

.blocks{
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px;
    position: relative;
    background-attachment: fixed;
}

.photo-text{
    width: 700px;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    color: yellow;
}

#superga{
    background-image: url('../img/01.png');
    background-color: red;
}

#tommy{
    background-image: url('../img/02.png');
    background-color: green;
}

#converse{
    background-image: url('../img/03.png');
    background-color: yellow;
}

#green{
    color: green;
}